*{
    margin: 0px;
    padding: 0px;
font-family: "inter";
}

#informative-title{
    background-color: #303030;
    padding: 150px;
    color: #FFFFFF;
    font-size: 150%;
}

#title{
    margin-top: 50px;
    margin-left:30px;
}

#paragraph{
    margin-left: 30px;
    margin-top: 8px;
}

#additional-information{
    column-count: 3;
    column-gap: 3rem;
    padding-left: 200px;
    padding: 50px;
    text-align: center;
    background-color: #F9F9F9;
}

#secao-imagem{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#text-image{
    margin-top: 210px;
    text-align: center;
}

#text-paragrafh{
    font-size: 150%;
}


#image{
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 60px;
}

#data-collection {
 text-align: center;
 background-color: #303030;
 padding: 80px;
}

#title-form {
font-size: 25px;
color: #FFFFFF;
margin: 50px 0px 25px 0px;
}

.input-text{
    padding-left: 15px;
    border-radius: 5px;
    margin: 20px;
    height: 40px;
    width: 280px;
    background-color: #FFFFFF;
    border: 0px;
}

button{
    background-color: #C07212;
    color: #FFFFFF;
    width:180px;
    height: 40px ;
    border-radius: 5px;
    border: 0px;
    margin: 40px 0px 40px 0px;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}
button:hover{
    background-color: #995f19;
    color: white;
    transform: translateY(-7px);
    transition-duration: 0,5s;
}